<% provide(:title, 'Todas las páginas') %>
<h1>Todas las páginas</h1>
<%= will_paginate @paginas %>
<ul class="paginas">
  <%= render @paginas %>
</ul>

<%= will_paginate @paginas %>
<%= link_to 'Crear nueva página', new_pagina_path, class: "btn btn-large btn-primary"%>
